<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#202020">

	<title>Democats</title>

	<link rel="stylesheet" href="./static/css/main.css">

</head>
<body>

	{% block body %}
	{% endblock %}

	
	<script src="./static/js/main.min.js"></script>
</body>
</html>