
{% extends "layout.html" %}

{% block body %}

	<h1>Login</h1>

	<form action="logining.html" method="POST">
	  <div class="form-group">
	    <label class="form-label" for="input-example-1">Username</label>
	    <input class="form-input" type="text" name="username" placeholder="Username">
	  </div>
	  <div class="form-group">
	    <label class="form-label" for="input-example-2">Password</label>
	    <input class="form-input" type="password" name="password" placeholder="Password">
	  </div>
	  <div class="form-group">
	    <label class="form-checkbox">
	      <input type="checkbox">
	      <i class="form-icon"></i> Remember me
	    </label>
	  </div>
	  <div class="form-group">
	  	<input class="btn btn-primary" type="submit" name="submit" value="Submit">
	  </div>
	</form>

{% endblock %}