
{% extends "layout.html" %}

{% block body %}


<div class="header__wrapper">
	<div class="container">
		<div class="columns">
			<div class="column col-12">
				<div class="header__container">
					
					<div class="profile">
						<figure class="avatar avatar-xl">
							<img src="https://66.media.tumblr.com/463fee1f4fe7c4610071de273527c157/tumblr_pdwkr0PQcN1vwojn9_640.jpg">
						</figure>
						<div class="text">
							<h2 class="name">Hoppsnor</h2>
							<h3 class="tag">- Bunnyhopper</h3>
						</div>
					</div>

					<div class="online-status">
						<div class="app">
							<a class="name" href="" target="_blank">steam</a>
							<div class="status">
								<div class="title">online</div>
								<div class="dot dot--online"></div>
							</div>
						</div>
						<div class="app">
							<a class="name" href="" target="_blank">discord</a>
							<div class="status">
								<div class="title">idle</div>
								<div class="dot dot--idle"></div>
							</div>
						</div>
						<div class="app">
							<a class="name" href="" target="_blank">democats</a>
							<div class="status tooltip tooltip-bottom" data-tooltip="Last seen: 23 days ago"">
								<div class="title">offline</div>
								<div class="dot dot--offline"></div>
							</div>
						</div>
					</div>
				
				</div>
			</div>
		</div>
	</div>
</div>




{% endblock %}