
{% extends "layout.html" %}

{% block body %}

	<h1>Register</h1>

	<form action="/registering" method="POST">
	  <div class="form-group">
	    <label class="form-label" for="input-example-1">Username</label>
	    <input class="form-input" type="text" name="username" placeholder="Username">
	  </div>
	  <div class="form-group">
	    <label class="form-label" for="input-example-2">Password</label>
	    <input class="form-input" type="password" name="password" placeholder="Password">
	  </div>
	  <div class="form-group">
	    <label class="form-label" for="input-example-2">Password repeat</label>
	    <input class="form-input" type="password" name="password_repeat" placeholder="Password">
	  </div>
	  <div class="form-group">
	  	<input class="btn btn-primary" type="submit" name="submit" value="Submit">
	  </div>
	</form>

{% endblock %}