
.header__wrapper
	background: url("https://i.imgur.com/A0muf18.jpg")
	background-size: cover
	background-position: center

.header__container
	padding: 60px 0
	display: flex
	justify-content: space-between
	align-items: center
	
	.profile
		display: flex
		align-items: center

		.avatar
			@include box-shadow
		

		.text
			margin-left: 20px

			.name
				line-height: 1
				font-size: 40px
				color: white
				font-weight: bold
				text-transform: uppercase
				margin-bottom: 5px

				@include text-shadow

			.tag
				line-height: 1
				font-size: 18px
				color: #b0b0b0
				margin: 0
				text-transform: uppercase

				@include text-shadow