
.online-status
	width: 250px
	padding: 10px 20px
	background: #151515
	border-radius: 5px

	@include box-shadow


	.app
		display: flex
		justify-content: space-between
		align-items: baseline
		padding: 5px 0

		.name
			font-size: 18px
			color: white
			text-transform: capitalize

			&:hover
				text-decoration: none


		.status
			display: flex
			align-items: baseline

			.title
				color: #707070
				cursor: default

			.dot
				width: 11px
				height: 11px
				background: purple
				margin-left: 20px
				border-radius: 100%

				&.dot--online
					background: $success-color

				&.dot--idle
					background: $warning-color

				&.dot--no-disturb
					background: $error-color

				&.dot--offline
					background: #707070


